
  <body class="fixed-header error-page">
    <div class="d-flex justify-content-center full-height full-width align-items-center">
      <div class="error-container text-center">
        <h1 class="error-number" style="color: tomato;">404<i class="fa fa-times"></i></h1>
        <h2 class="semi-bold">Sorry but we couldnt find this page :(</h2>
        <p class="p-b-10">call KPPU Member or go to <a routerLink="/frzgcSUct1XyqBkYKO9KNgK4XnGcCLYHafE3bOwQUlK2pXmFGM3U1UlilMysepEVoiNkpU94JaotU3RGrOW193UlqpPhvJdLvDFXopob3kJcO0SFQZTjb3v3cUxVDSfcQUrcrdmobNTKf1yvTR6bXH27nQ5vcWKkLzDKk2HI93g3bBReVwk0m0XdUEBNDf3uW3jYhdec" routerLinkActive="active"><b>this page</b></a>
        </p>
      </div>
    </div>
  </body>
