
  <body class="fixed-header">
    <div class="d-flex justify-content-center full-width align-items-center" [style.height.px]="100">
      <div class="text-center"[style.marginTop.px]="200">
        <!-- <h1 class="error-number">404</h1> -->
        <div>
          <img width="43" height="43" data-src-retina="assets/img/logo.png" data-src="assets/img/logo.png" alt="" src="assets/img/logo.png">
        </div>
        <h2 class="semi-bold">Vote your candidate #Respect</h2>
      </div>
    </div>
    <div class="full-height lock-container" [style.width.px]="1200">
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="sm-p-t-50 align-items-center d-md-flex">
        <div class="gallery" [style.marginTop.px]="200">
          <div class="row">
              <div class="gallery-item " style="width:500px;height:350px" *ngFor='let ct of candidateList' [style.marginRight.px]="40" (click)="choose(ct.id)">
                <!-- START PREVIEW -->
                <div class="live-tile slide" data-speed="750" data-delay="4000" data-mode="carousel">
                  <div class="slide-front">
                    <img src={{imgPath+ct.photo}} alt="" class="image-responsive-height">
                  </div>
                </div>
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info more-content">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-20">
                      <div class="">
                        <h3 class="pull-left bold text-white no-margin">{{ct.leaderName}}</h3>
                        <h3 class="pull-right semi-bold text-white font-montserrat bold no-margin" style="font-size: 60;">{{ct.electionNumber}}</h3>
                        <div class="clearfix"></div>
                        <h3 class="pull-left bold text-white no-margin">{{ct.viceName}}</h3>
                        <div class="clearfix"></div>
                      </div>
                      <div class="" style="position: fixed;margin-bottom: 80px;">
                        <h5 class="text-white light">{{ct.vision}}</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10 m-b-10">
                        <div class="pull-right">
                          <button class="btn btn-white btn-md btn-mini bold fs-14" type="button" style="height:50px;"><i class="fa fa-heart" style="color:orange;font-size: 20;"></i></button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
          </div>
        </div>
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
  </body>
