
  <body class="fixed-header error-page">
    <div class="d-flex justify-content-center full-height full-width align-items-center">
      <div style="position: fixed;top: 0;right: 0;">
        <button class="btn btn-complete btn-cons m-t-10" (click)="generate()">Result <i class="fa fa-angle-double-right"></i></button>
      </div>
      <div class="error-container text-center">
        <!-- <h1 class="error-number">404</h1> -->
        <div>
          <img width="43" height="43" data-src-retina="assets/img/logo.png" data-src="assets/img/logo.png" alt="" src="assets/img/logo.png">
        </div>
        <h2 class="semi-bold">Passcode Generator</h2>
        <p class="p-b-10"></p>
        <div class="error-container-innner text-center">
          <form class="error-form" #refForm="ngForm" (ngSubmit)="onSubmit(refForm)">
            <div class=" transparent text-left">
              <div class="form-group form-group-default input-group">
                <div class="form-input-group">
                  <label>Master Code</label>
                  <input class="form-control" placeholder="Type master code here" name="mastercode" ngModel maxlength="25" type="password" required>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text transparent">
                      <span class="pg-search p-l-10"></span>
                  </span>
                </div>
              </div>
              <div [style.color]="color">{{ message }}</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
