
  <body class="fixed-header error-page">
    <div class="d-flex justify-content-center full-height full-width align-items-center">
      <div class="error-container text-center">
        <h1 class="error-number" style="color: green;">200<i class="fa fa-check"></i></h1>
        <h2 class="semi-bold">Thank you for your vote :)</h2>
        <p class="p-b-10">#RESPECT</p>
      </div>
    </div>
  </body>
