<body class="fixed-header">
  <div style="position: fixed;top: 0;left: 20px;">
    <button class="btn btn-complete btn-cons m-t-10" (click)="home()">Home <i class="fa fa-angle-double-left"></i></button>
  </div>
  <div class="d-flex justify-content-center full-height align-items-center" style="margin-left: auto;margin-right: auto; width: 400px;">
    <div class="card card-default">
      <div class="card-header ">
        <div class="card-title">
          New IF Student
        </div>
      </div>
      <div class="card-body">
        <form class="" role="form" #refForm="ngForm" (ngSubmit)="onSubmit(refForm)">
          <div class="form-group form-group-default required ">
            <label>NIM</label>
            <input type="text" class="form-control" name="nim" (keypress)="numberOnly($event)" maxlength="10" required ngModel>
          </div>
          <div class="form-group form-group-default required ">
            <label>Name</label>
            <input type="text" class="form-control" name="name" required ngModel>
          </div>
          <div class="form-group form-group-default required">
            <label class="">Student Status</label>
            <ng-select2 [data]="studentStatus" name="studentStatus" [(ngModel)]="studentValue"></ng-select2>
          </div>
          <div class="form-group form-group-default required">
            <label class="">Bapkmo Status</label>
            <ng-select2 [data]="bapkmoStatus" name="bapkmoStatus" [(ngModel)]="bapkmoValue"></ng-select2>
          </div>
          <div class="form-group form-group-default input-group" *ngIf="bapkmoValue=='1'">
            <div class="form-input-group">
              <label>Bapkmo Date</label>
              <input type="date" name="bapkmoDate" class="form-control" placeholder="Pick a date" id="datepicker-component" [ngModel]="myDate | date:'yyyy-MM-dd'" required>
            </div>
            <div class="input-group-append ">
              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
          <button class="btn btn-primary btn-cons m-t-10 full-width" type="submit">Add Student</button>
          <div [style.color]="color" [style.marginTop.px]="30" style="text-align: center;">{{ message }}</div>
        </form>
      </div>
    </div>
  </div>
</body>
<script>
  
</script>