<body class="fixed-header ">
  <!-- START PAGE-CONTAINER -->
  <div class="lock-container full-height">
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="full-height sm-p-t-50 align-items-center d-md-flex">
      <div class="row full-width">
        <div class="col-md-6">
          <!-- START Lock Screen User Info -->
          <div class="d-flex justify-content-start align-items-center">
            <div class="d-flex justify-content-start align-items-center">
              <div class="">
                <div style="margin-top: -100; margin-left: -20;">
                  <img width="300" height="300" data-src-retina="assets/img/digital-election-logo.png" data-src="assets/img/digital-election-logo.png" alt="" src="assets/img/digital-election-logo.png">
                </div>
              </div>
            </div>
          </div>
          <!-- END Lock Screen User Info -->
        </div>
        <div class="col-md-6">
            <!-- START Lock Screen Form -->
            <form id="form-lock" role="form" #refForm="ngForm" (ngSubmit)="onSubmit(refForm)" >
              <div class="row">
                <div class="col-md-8" style="margin-left: -50;">
                  <!-- START Form Control -->
                  <div class="form-group form-group-default sm-m-t-30">
                    <label>NIM</label>
                    <div class="controls">
                      <input type="text" (keypress)="numberOnly($event)" maxlength="10" name="nim" placeholder="NIM here" class="form-control" ngModel required>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <input type="password" placeholder="CODE" name="votecode" maxlength="4" class="form-control" [style.height.px]="55" [style.paddingLeft.px]="17" ngModel required>
                </div>
                  <button class="btn btn-primary btn-cons m-t-10" type="submit">Sign in</button>
                  <!-- END Form Control -->
                  <div [style.color]="color" [style.marginTop.px]="30">{{ message }}</div>
              </div>
            </form>
            <!-- END Lock Screen Form -->
          </div>
      </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
  </div>
  <!-- END PAGE-CONTAINER -->
  <script>
  $(function()
  {
    $('#form-lock').validate()
  })
  </script>
</body>
