
  <body class="fixed-header error-page">
    <div style="position: fixed;top: 0;left: 20px;">
      <button class="btn btn-complete btn-cons m-t-10" (click)="passcode()">Generate Passcode <i class="fa fa-angle-double-left"></i></button>
    </div>
    <div class="d-flex justify-content-center full-height full-width align-items-center" *ngIf="!dataform">
      <div class="error-container text-center">
        <!-- <h1 class="error-number">404</h1> -->
        <div>
          <img width="43" height="43" data-src-retina="assets/img/logo.png" data-src="assets/img/logo.png" alt="" src="assets/img/logo.png">
        </div>
        <h2 class="semi-bold">Passcode Verifier</h2>
        <p class="p-b-10"></p>
        <div class="error-container-innner text-center">
          <form class="error-form" #refForm="ngForm" (ngSubmit)="onSubmit(refForm)">
            <div class=" transparent text-left">
              <div class="form-group form-group-default input-group">
                <div class="form-input-group">
                  <label>Pass Code</label>
                  <input class="form-control" placeholder="Type pass code here" name="passcode" ngModel maxlength="25" type="password" required>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text transparent">
                      <span class="pg-search p-l-10"></span>
                  </span>
                </div>
              </div>
              <div [style.color]="color">{{ message }}</div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="lock-container" *ngIf="dataform" style="height: 90%; width: 80%;">
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="full-height sm-p-t-50 align-items-center d-md-flex">
        <div style="position: absolute;top: 100px;left: 40%;right: 40%;text-align: center; width: 20%;">
          <h2 class="semi-bold">Election {{currentYear | date:'yyyy'}} Result KMJIF</h2>
        </div>
        <div style="margin-top: 100px; width: 100%;">
          <div class="row">
              <div class="col-md-4" style="margin-right: 40px;background-color: transparent;">
                <div class="chart">
                  <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend">
                  </canvas>
                </div>
              </div>

              <div class="col-md-7" style="background-color: transparent;">
                <div class="chart">
                  <canvas style="height: 300px;" baseChart 
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                  </canvas>
                </div>
              </div>
          </div>
        </div>
      </div>
          <table class="full-width" style="margin: 0 auto;background-color:ghostwhite;">
            <tr>
              <td *ngFor='let c of candidate' style="text-align: center;"> <h3>{{ 'Paslon ' + c.candidate.electionNumber + ' : ' }} <b><span [ngStyle]="c.voting==winner?{'color':'orange'}:{'color':'black'}">{{c.voting}}</span></b></h3></td>
              <td style="text-align: center;"><h3>Abstentions : <b><span style="color: mediumslateblue;">{{ abstentions }}</span></b></h3></td>
            </tr>
          </table>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
  </body>
