<body class="fixed-header">
    <div class="d-flex justify-content-center full-height align-items-center" style="margin-left: auto;margin-right: auto; width: 400px;">
      <div class="card card-default">
        <div class="card-header ">
          <div class="card-title">
            List of Election Uri
          </div>
        </div>
        <div class="card-body">
          <form class="" role="form" #refForm="ngForm">
            <button class="btn btn-primary btn-cons m-t-10 full-width" (click)="home()" type="button" click>Generate Voting Code</button>
            <button class="btn btn-primary btn-cons m-t-10 full-width" (click)="attend()" type="button">Insert Voting Code</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script>
    
  </script>